{%extends 'base.html'%}
{% block content %} 

<div>
    <div>
        <div>
            Fill the form to submit the request to advertise with us <br>
            Make the payments and wait for your approval request, <br>
we do not approve requests whose payments are not done. <br>
Request approval might take at most 2 working days.
  
            </div>
            <button class="btn btn-primary"><a style="color: white;" href="{% url 'request' %}">Make request</a></button>
        </div>
        </div>
    </div>
</div>
 {%endblock%}