{%extends 'base.html'%}
{% block content %}  

{% load crispy_forms_tags %}  
    
        <div class="container">


        <!--Django Model-->
        <h2 class="my-4">Houses available</h2>
        <div class="row">
          {% for m in request %}
          <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <h3>Agent name: {{m.name}}</h3>
              <img src="{{ m.image.url }}" class="card-img-top">
              <h3>Price: {{m.price}}</h3>
              
             
              
            </div>
          </div>
          {% empty %}
          <p>No houses available added.</p>
          {% endfor %}
        </div>

      </div>
    

{% endblock %}