
{%extends 'base.html'%}
{% block content %}  
<div class="" style="margin-top: 5%;">
    <!-- <div class="col">
     
      <div class="col-lg-4 text-center">
        <h3 class="text-center">Call: <strong>{{product.phone_number}}</strong></h3>
        <img class="" src="{{product.image.url}}" style="height:340px; width: 60%;"  >
        <div class="row">
          <h6 class="text-center">Agent name: <strong>{{product.author}}</strong></h6>
          <h6 class="text-center">House name <strong>{{product.name}}</strong></h6>
          <hr>
          <p class="text-center"><strong>{{product.description}}</strong></p>
        </div>
        <div class="row">
            <h class="text-center">Furnishing: <strong>{{product.furnished}}</strong></h6>
            <h6 class="text-center">House security <strong>{{product.security}}</strong></h6>
            <hr>
            <p class="text-center"><strong>{{product.number_of_rooms}} Rooms</strong></p>
          </div>
      </div>
     
    </div>
  </div> -->
  


  {% for product in request %}
  <div class="row" style="margin: .5em;">
      <div class="box-element product col-lg-4">
        <img class="thumbnail" src="{{product.image.url}}" style="width: 400px;">
        <h4 style="display: inline-block; float:left; margin-top: .2em; ">Call: <button class="btn btn-outline-primary"><strong> {{product.phone_number}}</strong> </button></h4>
          <h4 style="display: inline-block; float:right; margin-top: .2em;">Ksh.<button class="btn btn-outline-primary"><strong> {{product.price}}</strong> </button></h4>
      </div>
      <div class="box-element product col-lg-8" style="border-left: .1em solid blue;">
          <h5 class="text-center">Agent: <strong>{{product.name}}</strong></h5>
          <hr>              
          <div class="box-element product row">

          
<div class="col-7">
    <p style="">{{product.description}}</p> <br>
    <p style="">{{product.security}}</p>
    <p style="">Details on furnishing:{{product.furnished}}</p>
</div>
          
<div class="col-5">
    <p style="">Water availability: {{product.water_availability}}</p>
    <p style="">power availability: {{product.power_vailability}}</p>
    <p style="">Posted on: {{product.datetime|timesince}}</p>
    <button class="btn btn-outline-primary">{{product.number_of_rooms}}</button> Rooms
</div>
        </div>
      </div>
  </div>
  {% endfor %}
{% endblock%}  